@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100;300;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Manuale:wght@300;400;700&display=swap');

*,
::before,
::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

html {
	font-size: 100%;
	scroll-behavior: smooth;
}

body {
	/* font-family: 'Grenze Gotisch'; */
	font-family: 'Manuale', serif;
	line-height: 1.75;
}

body.disable-scroll {
	overflow-y: hidden;
}

p {
	margin-bottom: 1rem;
	font-weight: var(--light);
}

h1,
h2,
h3,
h4,
h5 {
	font-weight: var(--normal);
	line-height: 1.3;
}

h1 {
	margin-top: 0;
	font-size: var(--h1);
}

h2 {
	font-size: var(--h2);
}

h3 {
	font-size: var(--h3);
}

h4 {
	font-size: var(--h4);
}

small,
.text_small {
	font-size: var(--text-small);
}

a {
	display: inline-block;
	color: var(--accent);
	text-decoration: none;
}

ul {
	list-style: none;
}

button {
	color: var(--accent);
	background: none;
	cursor: pointer;
	line-height: 0;
}

.container {
	margin: 0 auto;
	max-width: 1048px;
	display: flex;
	flex-direction: column;
}

.section {
	padding: var(--margin-1) 0;
}

.section-head {
	margin-bottom: var(--margin-1);
	font-weight: var(--bold);
}

img {
	height: 23rem;
	width: 23rem;
	padding: 1rem;
}

.mansoryimg {
	padding: 0 !important;
	height: 30rem !important;
	width: 10rem !important;
	filter: grayscale(1) brightness(0.3);
}

.mansoryimg:hover {
	filter: grayscale(0) brightness(1);
}